nvim/plugin/packer_compiled.lua
*/.vscode
awesome/collision
vifm/vifminfo
vifm/vifminfo*
nvim/spell
tags
micro/plug
micro/buffers
nvim/plugin/packer_compiled.lua
nvim-bak
nvim/LICENSE
nvim/README.md

