* { 
    all: unset;
    border: none;
    border-radius: 8px;
    font-family: 'Noto Sans', FontAwesome;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(40, 44, 52, 0.1);
    color: #9ece6a;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  background: #15161e;
  color: #c0caf5;
}

#workspaces {
    background: #7aa2f7;
    margin: 2px 2px 3px 2px;
    padding: 0px 1px;
    border-radius: 8px;
    border:0px;
    font-weight: bold;
    font-style: normal;
    font-size:13px;
    color:#7aa2f7;
}

#workspaces button {
    padding: 0 0.5em;
    margin: 2 4 2 4px;
    background-color: #c0caf5;
    color: #15161e;
}

#workspaces button.empty {
    background-color: #15161e;
    color: #c0caf5;
}

#workspaces button.active {
    background-color: #9ece6a;
    color: #15161e;
}

#workspaces button.urgent {
    background-color: #f7768e;
}

#taskbar {
    background: #c0caf5;
    padding:0 0.7em;
    border-radius: 8px;
}

#taskbar button {
    margin:0;
    padding: 0px 5px 0px 5px;
}

#clock,
#cpu,
#memory,
#temperature,
#pulseaudio,
#tray,
#idle_inhibitor,
#taskbar,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 5px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    padding: 0 0.7em;
    background-color: #e0af68;
    color: #000000;
}

label:focus {
    background-color: #e0af68;
}

#cpu {
    padding: 0 0.7em;
    background-color: #7aa2f7;
    color: #000000;
}

#memory {
    padding: 0 0.7em;
    background-color: #9ece61;
    color: #000000;
}

#pulseaudio {
    padding: 0 0.7em;
    background-color: #bb9af7;
    color: #000000;
}

#pulseaudio.muted {
    padding: 0 0.7em;
    background-color: #414868;
    color: #a9b1d6;
}

#temperature {
    padding: 0 0.7em;
    background-color: #7dcfff;
    color: #000000;
}

#temperature.critical {
    padding: 0 0.7em;
    background-color: #f7768e;
    color: #000000;
}

#tray {
    background-color: #7aa2f7;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #f7768e;
}

#tray menu {
  background: #15161e;
  color: #c0caf5;
}

#idle_inhibitor {
    padding: 0 0.7em;
    background-color: #414868;
    color: #c0caf5;
}

#idle_inhibitor.activated {
    padding: 0 0.7em;
    background-color: #c0caf5;
    color: #414868;
}

