configuration {
/*	To see all options run rofi -dump-config */
    modi: "window,run,filebrowser,drun";
	font: "JetBrains Mono 12";
	terminal: "alacritty";
	run-command: "{cmd}";
	run-shell-command: "{terminal} -e {cmd}";
	dpi: 92;
}
@theme "fancy"
/* vim:ft=css
