* {
    border: none;
    border-radius: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(40, 44, 52, 0.5);
    border-bottom: 1px solid rgba(29, 32, 40, 0.5);
    color: #61AFEF;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background-color: #4B5263;
    border-bottom: 3px solid #61AFEF;
}

#workspaces button.urgent {
    background-color: #BE5046;
}

#mode {
    background-color: #4B5263;
    border-bottom: 3px solid #ffffff;
}

#clock, #cpu, #memory, #temperature, #network, #pulseaudio, #tray, #mode, #idle_inhibitor {
    padding: 0 10px;
    margin: 0 5px;
    background-color: transparent;
}

#clock {
    color: #ABB2BF;
}

#cpu {
    color: #98C379;
}

#memory {
    color: #C678DD;
}

#network {
    color: #2980b9;
}

#network.disconnected {
    color: #f53c3c;
}

#pulseaudio {
    color: #E5C07B;
}

#pulseaudio.muted {
    color: #E06C75;
}

#temperature {
    color: #56B6C2;
}

#temperature.critical {
    color: #BE5046;
}

#idle_inhibitor {
    background-color: transparent;
}

#idle_inhibitor.activated {
    background-color: #ABB2BF;
    color: #282C34;
}
