* {
  all: unset;
  border: none;
  border-radius: 8px;
  font-family: "Noto Sans", FontAwesome;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: rgba(40, 44, 52, 0.1);
  color: #abb2bf;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0px;
  font-weight: bold;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  background: #282c34;
  color: #abb2bf;
  font-size: 14px;
}

#workspaces {
  background: rgba(81, 175, 239, 0.5);
  margin: 2px 2px 3px 2px;
  padding: 0px 1px;
  border-radius: 8px;
  border: 0px;
  color: rgba(81, 175, 239, 0.5);
}

#workspaces button {
  padding: 0 0.5em;
  margin: 2px 4px 2px 4px;
  background-color: #282c34;
  color: #abb2bf;
}

#workspaces button:hover {
  background: #98c379;
  color: #ffffff;
}

#workspaces button.focused {
  background-color: #98c379;
  color: #282c34;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#taskbar {
  background: #abb2bf;
  padding: 0 0.7em;
  border-radius: 8px;
}

#taskbar button {
  margin: 0px;
  padding: 0px 5px 0px 5px;
}

#clock,
#cpu,
#memory,
#temperature,
#temperature#GPU,
#wireplumber,
#tray,
#idle_inhibitor,
#window,
#taskbar,
#workspaces {
  margin: 0 4px;
  padding: 0 0.7em;
}

#clock,
#cpu,
#memory,
#temperature,
#temperature#GPU,
#wireplumber,
#tray,
#taskbar,
#workspaces {
  background-color: rgba(81, 175, 239, 0.5);
  color: #f4f4f4;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 5px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 5px;
}

#window {
  border-radius: 8px;
}

#pulseaudio.muted {
  background-color: #3b4252;
  color: #abb2bf;
}

#temperature.critical {
  background-color: #e06c75;
  color: #000000;
}

#tray > .passive {
  -gtk-icon-effect: none;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#tray menu {
  background: #282c34;
  color: #abb2bf;
  font-size: 16px;
}

#idle_inhibitor {
  background-color: #44475a;
  color: #f8f8f2;
}

#idle_inhibitor.activated {
  background-color: #f8f8f2;
  color: #44475a;
}
