name        default   256           16
bg         "#282c34" "black"       "black"
fg         "#bbc2cf" "#bfbfbf"     "brightwhite"

These are off-color variants of bg/fg, used primarily for `solaire-mode',
but can also be useful as a basis for subtle highlights (e.g. for hl-line
or region), especially when paired with the `doom-darken', `doom-lighten',
and `doom-blend' helper functions.
bg-alt     "#21242b" "black"       "black"
fg-alt     "#5B6268" "#2d2d2d"     "white"

These should represent a spectrum from bg to fg, where base0 is a starker
bg and base8 is a starker fg. For example, if bg is light grey and fg is
dark grey, base0 should be white and base8 should be black.
base0      "#1B2229" "black"       "black"
base1      "#1c1f24" "#1e1e1e"     "brightblack"
base2      "#202328" "#2e2e2e"     "brightblack"
base3      "#23272e" "#262626"     "brightblack"
base4      "#3f444a" "#3f3f3f"     "brightblack"
base5      "#5B6268" "#525252"     "brightblack"
base6      "#73797e" "#6b6b6b"     "brightblack"
base7      "#9ca0a4" "#979797"     "brightblack"
base8      "#DFDFDF" "#dfdfdf"     "white"

grey       base4
red        "#ff6c6b" "#ff6655" "red"
orange     "#da8548" "#dd8844" "brightred"
green      "#98be65" "#99bb66" "green"
teal       "#4db5bd" "#44b9b1" "brightgreen"
yellow     "#ECBE7B" "#ECBE7B" "yellow"
blue       "#51afef" "#51afef" "brightblue"
dark-blue  "#2257A0" "#2257A0" "blue"
magenta    "#c678dd" "#c678dd" "brightmagenta"
violet     "#a9a1e1" "#a9a1e1" "magenta"
cyan       "#46D9FF" "#46D9FF" "brightcyan"
dark-cyan  "#5699AF" "#5699AF" "cyan"
