/* ::root{ */
/*     --accent: #61afef; */
/*     --dark: #282C34; */
/*     --light: #ABB2BF; */
/*     --ld: #3b4252; */
/*     --dl: #616e88; */
/*     --white: white; */
/* } */

*{
    font-family: 'JetBrains Mono';
}

window {
    background-color: #ABB2BF;
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    border-bottom: 3px solid black;
    background-color: #282C34;
    color: #abb2bf;
}

#inner-box {
    background-color: #282C34;

}

#outer-box {
    margin: 1px;
    padding:20px;
    background-color: #282C34;
}

#scroll {
}

#text {
padding: 5px;
color: #abb2bf;
}

#entry:nth-child(even){
    background-color: #3b4252;
}

#entry:selected {
    background-color: #61afef;
}

#text:selected {
    color: #282c34;
}
